
.about-style {
  width:100%;
  height:350px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -15px;
  color: #fff;
  text-align: center;
  background:#27096d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5b14b9, #27096d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5b14b9, #27096d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flipBox {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

  .about-style:hover .flipBox {
    transform: rotateY(180deg);
  }

.aboutMeFrontSide {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 50%;
  font-size: 1rem;
  border: 1px #fff solid;
  background: #270479;
  border-radius: 8px;
  font-weight: 380;
  color: #fff;
  padding:2%;
  margin-left: 25%;
  box-shadow: 2px 2px 5px #ccc;
}

.aboutMeBackSide {
  width: 50%;
  border: 1px #fff solid;
  background: #4c20b4;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 380;
  padding:2%;
  margin-left: 25%;
  transform: rotateY(180deg);
  box-shadow: 2px 2px 5px #ccc;
}

@media screen and (max-width: 1100px) {

  .about-style {
    height:450px;
    
  }

  .aboutMeFrontSide {
    width:80%;
    font-size: 0.7rem;
    margin-left: 10%;
  }
  
  .aboutMeBackSide {
    font-size: 0.7rem;
    width:80%;
    margin-left: 10%;
  }
}