
.footerStyle {
  width: 100%;
  height: 250px;
  color: #fff;
  text-align: center;
  background:#2b1e5f;  /* fallback for old browsers */
  border-top: 2px #000;
}

.footerDiv{
  width:25%;
  min-width: 150px;
  min-height:200px;
  padding-left: 5%;
  padding-top: 50px;
  text-align: left;
  float: left;
  font-size: 0.8rem;
}

.footerDiv a {
  text-decoration: none;
  color: #fff;
}

.socialIcons {
  max-width:30px;
  margin-top: 10px;
}

@media screen and (max-width: 1100px) {
  .footerStyle {
    width: 100%;
    height: 450px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .footerDiv{
    width:40%;
    padding-left: 15%;
    padding-top: 50px;
    text-align: left;
    font-size: 0.7rem;
  }

}
@media screen and (max-width: 600px) {
  .footerStyle {
    width: 100%;
    height: 550px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.7rem;
  }

  .footerDiv{
    width:25%;
    min-width: 100px;
    padding-left: 5%;
    padding-top: 50px;
    float: left;
  }
}