
#Navbar {
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  text-align: center;
  justify-self: center;
  text-transform: uppercase;
  padding-top:20px;
  background: #a8c0ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

  #Navbar a {
    text-decoration: none;
    margin-left: 5%;
    font-size: 1.1em;
    font-weight: 700;
    color:#ccc;
  }

#Mobile_nav {
  display:none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  #Navbar a {
    display:none;
  }

  #Mobile_nav {
    display:block;
  }
  
  #Navbar a {
    display:none;
  }
}
